body {
  font-family: "Quicksand", sans-serif;
  color: rgb(45, 44, 44);
}
h1 {
  font-size: 2.9rem;
  letter-spacing: 5px;
  font-weight: 600;
  margin: 2px;
  line-height: 1;
}

button i {
  width: 2rem;
}

.weather-app {
  border: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 15px;
  display: block;
  width: 480px;
  height: 730px;
  margin: 20px auto;
  border-radius: 5px;
}
.navbar {
  border-radius: 3px;
  max-width: 450px;
  margin: 10px 0;
  border: 1px solid #a8ccfc;
  background-color: #a8ccfc;
  box-shadow: 2px 2px 8px rgb(129, 128, 128);
}
.btn {
  margin: 2px;
  margin-left: 34px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: rgb(35, 34, 34);
}
.btn:hover {
  background-color: #a8ccfc;
  border-color: #a8ccfc;
}

#current-time {
  font-size: 1.2rem;
  padding: 5px;
}
.weather-details {
  margin: 5px;
}
.current-weather {
  position: relative;

  left: 300px;
  bottom: 176px;
}
.current-weather span {
  font-size: 2rem;
  font-weight: 200;
}
.current-weather #temp-change {
  font-weight: 200;
  line-height: 0.1;
  font-size: 3rem;
}
#celsius,
#fahrenheit {
  font-size: 1rem;
  text-decoration: none;
}

.current-weather .active {
  color: rgb(45, 44, 44);
  cursor: default;
  text-decoration: none;
}

.current-weather img {
  width: 90px;
}
.current-weather p {
  margin: 5px;
}
.future-weather-box {
  border: 2px solid #a8ccfc;
  background-color: #a8ccfc;
  box-shadow: 1px 1px 8px rgb(129, 128, 128);
  max-width: 450px;
  position: relative;
  left: 10px;
  top: -140px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 2px;
}
.future-weather-icon {
  width: 61px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0.2rem 0.8rem;
  padding: 8px 0;
  text-align: center;
  font-size: 90%;
}
.future-weather-icon p {
  margin-bottom: 0.5rem;
}

.future-weather-icon img {
  width: 2.1rem;
  height: 1.9rem;
}

.future-weather-icon .max-temp {
  font-weight: 550;
}
.future-weather-icon .min-temp {
  font-weight: 400;
}
.weather-container {
  max-width: 1000px;
  position: relative;
  top: 12px;
}
.cloud-container i {
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 0 8px #fff;
  position: relative;
  top: -150px;
  margin: 12px;
}
.cloud-row {
  width: 900px;
}
.cloud-top {
  animation: move-top 19s ease-in-out infinite alternate;
}
@keyframes move-top {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-20%);
  }
}
.cloud-middle {
  animation: move-middle 18s ease-in-out infinite alternate;
}
@keyframes move-middle {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-20%);
  }
}
.cloud-bottom {
  animation: move-bottom 20s ease-in-out infinite alternate;
}
@keyframes move-bottom {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.clear-sky {
  text-align: center;
  color: orange;
  font-size: 200px;
  position: relative;
  top: -180px;
  border: none;
  text-shadow: 0 0 8px rgb(255, 255, 255);
}

.sun-cloud-sun {
  color: rgb(255, 238, 0);
  text-shadow: 0 0 8px rgb(255, 238, 0);
  font-size: 12rem;
  font-weight: 100;
  position: relative;
  top: -87px;
  left: 75px;
}
.sun-cloud-cloud {
  font-size: 9rem;
  color: #fff;
  text-shadow: 0 0 8px #fff;
  position: relative;
  top: -70px;
}
.rain-container {
  font-size: 3rem;
}

.rain-container .rain-top {
  color: #0cabc6;
  position: relative;
  top: -150px;
  left: 3px;
}

.rain-container .rain-middle {
  color: #0ebbda;
  position: relative;
  top: -210px;
  left: 14px;
}
.rain-container .rain-bottom {
  color: #10dbff;
  position: relative;
  top: -290px;
  left: 18px;
}

.thunder-cloud {
  font-size: 9rem;
  color: rgb(128, 128, 128);
  text-shadow: 0 0 15px rgb(151, 150, 150);
  position: relative;
  top: -130px;
  left: 130px;
}
.thunder-bolt {
  font-size: 7rem;
  color: #fff;
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -70px;
  left: 8px;
}

.snow-container {
  font-size: 4rem;
}
.snow-container .snow-top {
  color: rgb(228, 224, 224);
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -140px;
  left: 2px;
}
.snow-container .snow-middle {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -220px;
  left: 12px;
}
.snow-container .snow-bottom {
  color: rgb(240, 240, 240);
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -320px;
  left: 6px;
}

.fog {
  font-size: 12rem;
}
.fog .fog-top {
  color: rgb(204, 204, 204);
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -230px;
  left: 140px;
}
.fog .fog-middle {
  color: rgb(228, 224, 224);
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -170px;
  right: 50px;
}
.fog .fog-bottom {
  color: rgb(233, 232, 232);
  text-shadow: 0 0 20px #fff;
  position: relative;
  top: -400px;
  left: 135px;
}
.open-source-link {
  display: block;
  margin: 0 auto;
}
