body {
  font-family: "Quicksand", sans-serif;
  color: rgb(45, 44, 44);
}
h1 {
  font-size: 2.9rem;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  top: 2px;
  left: 10px;
  margin-top: 3px;
  padding-top: 5px;
}

button i {
  width: 2rem;
}

.weather-app {
  border: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 15px;
  display: block;
  width: min(100%, 480px);
  margin: 20px auto;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: 700%;
  animation: bg-animation 5s infinite alternate;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation-high {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.navbar {
  border-radius: 3px;
  max-width: 100%;
  margin: 10px 0;
  border: 2px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  box-shadow: 1px 1px 8px rgb(179, 179, 179);
}
.btn {
  margin: 2px;
  margin-left: 34px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: rgb(35, 34, 34);
}
.btn:hover {
  background-color: #a8ccfc;
  border-color: #a8ccfc;
}

#last-updated {
  font-size: 1.2rem;
  padding: 2px;
}
.weather-details {
}
.current-weather {
  font-size: 1.1rem;
}

.current-weather-temperature,
#weather-description,
.current-weather img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-weather-temperature {
  margin-bottom: 5px;
}
.current-weather img {
  width: 150px;
  margin: 0 auto;
}

#weather-description {
  margin-bottom: 10px;
}
.current-weather span {
  font-size: 2rem;
  font-weight: 200;
}
.current-weather #temp-change {
  font-weight: 200;
  line-height: 0.1;
  font-size: 2.5rem;
}
#celsius,
#fahrenheit {
  color: rgb(45, 44, 44);
  font-size: 1rem;
  text-decoration: none;
  padding: 3px;
}

.current-weather .active {
  cursor: default;
  text-decoration: none;
}

.future-weather-box {
  border: 2px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  box-shadow: 1px 1px 8px rgb(179, 179, 179);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 2px;
}
.future-weather-icon {
  display: block;
  margin: 0.2rem auto;
  width: 15%;
  background: #ffffff;
  border-radius: 10px;

  padding: 8px 0;
  text-align: center;
  font-size: 90%;
}
.future-weather-icon p {
  margin-bottom: 0.5rem;
}

.future-weather-icon img {
  width: 3.2rem;
  height: 1.9rem;
  position: relative;
  bottom: 5px;
}

.future-weather-icon .max-temp {
  font-weight: 550;
}
.future-weather-icon .min-temp {
  padding: 2px;
  font-weight: 370;
}

#weather-animation {
  z-index: 8;
}
.weather-container {
  max-width: 1000px;
}

.clear-sky {
  width: 15rem;
  position: relative;
  top: -117px;
  left: 105px;
  animation: rotate 25s infinite ease-in-out alternate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(200deg);
  }
}
.sun-cloud-sun {
  width: 15rem;
  position: relative;
  top: -120px;
  left: -80px;
  animation: spin 35s infinite ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(200deg);
  }
}
.sun-cloud-cloud-top {
  font-size: 9rem;
  color: #fff;
  text-shadow: 0 0 8px #fff;
  position: relative;
  left: 45px;
  bottom: 100px;
  animation: move-left 5s infinite alternate;
}

@keyframes move-left {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(15px);
  }
}
.sun-cloud-cloud-bottom {
  font-size: 9rem;
  color: #fff;
  text-shadow: 0 0 8px #fff;
  position: relative;
  left: 190px;
  bottom: 280px;
  animation: move-right 5s infinite alternate;
}

@keyframes move-right {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(30px);
  }
}
.cloud-container i {
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 0 8px #fff;
  position: relative;
  top: -150px;
  margin: 12px;
}
.cloud-row {
  width: 900px;
}
.cloud-top {
  animation: move-top 15s ease-in-out infinite alternate;
}
@keyframes move-top {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-20%);
  }
}
.cloud-middle {
  animation: move-middle 18s ease-in-out infinite alternate;
}
@keyframes move-middle {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-20%);
  }
}
.cloud-bottom {
  animation: move-bottom 21s ease-in-out infinite alternate;
}
@keyframes move-bottom {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-20%);
  }
}
.rain-cloud-top,
.rain-cloud-middle,
.rain-cloud-bottom {
  font-size: 9rem;
  color: rgb(211, 211, 211);
  text-shadow: 0 0 8px #fff;
  position: relative;
}
.rain-cloud-top {
  bottom: 130px;
  left: 90px;
  z-index: 2;
}
.rain-cloud-middle {
  bottom: 120px;
  left: 17px;
  z-index: 3;
}
.rain-cloud-bottom {
  bottom: 210px;
  left: 140px;
  z-index: 4;
}

.rain-one,
.rain-two,
.rain-three,
.rain-four,
.rain-five,
.rain-six,
.rain-seven,
.rain-eight,
.rain-nine {
  font-size: 3rem;
  position: relative;
  z-index: 1;
}

.rain-one,
.rain-two,
.rain-three {
  right: 10px;
  bottom: 220px;
}
.rain-four,
.rain-five,
.rain-six {
  right: 70px;
  bottom: 290px;
}
.rain-seven,
.rain-eight,
.rain-nine {
  left: 130px;
  bottom: 330px;
}

.rain-one,
.rain-five,
.rain-nine {
  color: #0cabc6;
  animation: drop-fast 2.5s infinite ease-in-out;
}
@keyframes drop-fast {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(90px);
    text-shadow: 0 0 8px #54e1fa;
  }
}
.rain-two,
.rain-six,
.rain-eight {
  color: #0ebbda;
  animation: drop-moderate 2s infinite ease-in-out;
}
@keyframes drop-moderate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(90px);
    text-shadow: 0 0 8px #54e1fa;
  }
}
.rain-three,
.rain-four,
.rain-seven {
  color: #10dbff;
  animation: drop-slow 3s infinite ease-in-out;
}
@keyframes drop-slow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(90px);
    text-shadow: 0 0 8px #54e1fa;
  }
}

.thunder-cloud-top,
.thunder-cloud-middle,
.thunder-cloud-bottom {
  font-size: 9rem;
  color: rgb(128, 128, 128);
  text-shadow: 0 0 15px rgb(151, 150, 150);
  position: relative;
  animation: darker 5s infinite alternate ease-in;
}
@keyframes darker {
  0% {
    text-shadow: 0 0 5px rgb(184, 184, 184);
    color: rgb(136, 136, 136);
  }
  100% {
    text-shadow: 0 0 30px rgb(151, 150, 150);
    color: rgb(128, 128, 128);
  }
}

.thunder-cloud-top {
  bottom: 130px;
  left: 90px;
}
.thunder-cloud-middle {
  bottom: 120px;
  left: 17px;
}
.thunder-cloud-bottom {
  bottom: 210px;
  left: 140px;
}
.thunder-bolt {
  font-size: 7rem;
  color: #fff;
  position: relative;
  bottom: 150px;
  left: 15px;
  animation: glow 5s infinite alternate ease-in;
}
@keyframes glow {
  0% {
    transform: translateY(0px);
    text-shadow: 0 0 0px #fff;
    color: rgb(255, 255, 255 0);
  }
  100% {
    transform: translateY(10px);
    text-shadow: 0 0 30px #fff;
    color: #fff;
  }
}

.snow-cloud-top,
.snow-cloud-middle,
.snow-cloud-bottom {
  font-size: 9rem;
  color: rgb(219, 218, 218);
  text-shadow: 0 0 8px #fff;
  position: relative;
}
.snow-cloud-top {
  bottom: 130px;
  left: 90px;
  z-index: 2;
}
.snow-cloud-middle {
  bottom: 120px;
  left: 17px;
  z-index: 3;
}
.snow-cloud-bottom {
  bottom: 210px;
  left: 140px;
  z-index: 4;
}
.snow-one,
.snow-two,
.snow-three {
  color: rgb(240, 240, 240);
  font-size: 3rem;
  position: relative;
  right: 30px;
  bottom: 150px;
  z-index: 6;
}
.snow-one {
  left: -6px;
  bottom: 210px;
  animation: rotate-fast 20s infinite alternate;
}
@keyframes rotate-fast {
  0% {
    text-shadow: 0 0 5px #fff;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: 0 0 20px #fff;
    transform: rotate(400deg);
  }
}
.snow-two {
  right: 4px;
  bottom: 190px;
  animation: rotate-moderate 20.5s infinite alternate;
}
@keyframes rotate-moderate {
  0% {
    text-shadow: 0 0 5px #fff;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: 0 0 20px #fff;
    transform: rotate(-400deg);
  }
}
.snow-three {
  right: 94px;
  bottom: 147px;
  animation: rotate-slow 21s infinite alternate;
}
@keyframes rotate-slow {
  0% {
    text-shadow: 0 0 5px #fff;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: 0 0 20px #fff;
    transform: rotate(400deg);
  }
}

.fog {
  font-size: 12rem;
}
.cloud-fog {
  position: relative;
  bottom: 150px;
  left: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #fff;
  animation: color-change 5s infinite alternate;
}
@keyframes color-change {
  0% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px #fff;
  }
  100% {
    color: rgb(184, 184, 184);
    text-shadow: 0 0 8px #fff;
  }
}
.fog .fog-top {
  position: relative;
  bottom: 460px;
  left: 120px;
  animation: mist-move-top 5s infinite alternate;
}
@keyframes mist-move-top {
  0% {
    color: rgb(204, 204, 204);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: translateX(-20px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #fff;
  }
}
.fog .fog-middle {
  position: relative;
  bottom: 410px;
  right: 50px;
  animation: mist-move-middle 5s infinite alternate;
}
@keyframes mist-move-middle {
  0% {
    color: rgb(204, 204, 204);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: translateX(20px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #fff;
  }
}
.fog .fog-bottom {
  position: relative;
  bottom: 640px;
  left: 135px;
  animation: mist-move-bottom 5s infinite alternate;
}
@keyframes mist-move-bottom {
  0% {
    color: rgb(204, 204, 204);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: translateX(-20px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #fff;
  }
}
.open-source-link {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 9;
}
.open-source-link a {
  text-decoration: none;
}
